{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
	<ol class="flex justify-center gap-1 text-xs font-medium pt-4 pb-4">
		{% if first is defined and current != first %}
			<li>
				<a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
					<span class="sr-only">Prev Page</span>
					<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewbox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M15.707 15.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 010 1.414zm-6 0a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 011.414 1.414L5.414 10l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"/>
					</svg>
				</a>
			</li>
		{% endif %}

		{% if previous is defined %}
			<li>
				<a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
					<span class="sr-only">Prev Page</span>
					<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewbox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
					</svg>
				</a>
			</li>
		{% endif %}

		{% for page in pagesInRange %}
			{% if page != current %}
				<li class="block h-8 w-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
					<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
				</li>
			{% else %}

				<li class="block h-8 w-8 rounded border-blue-600 bg-black text-center leading-8 text-white">
					<span>{{ page }}</span>
				</li>

			{% endif %}
		{% endfor %}

		{% if next is defined %}
			<li>
				<a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
					<span class="sr-only">Next Page</span>
					<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewbox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
					</svg>
				</a>
			</li>
		{% endif %}

		{% if last is defined and current != last %}
			<li>
				<a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
					<span class="sr-only">Next Page</span>
					<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewbox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
						<path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
					</svg>
				</a>
			</li>
		{% endif %}
	</ol>

{% endif %}
