{% extends 'base.html.twig' %}

{% block content %}
	<main class="ml-64 p-8">
		<header class="bg-white rounded-lg">
			<div class="mx-auto max-w-full px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
				<div class="sm:flex sm:items-center sm:justify-between">
					<div class="text-center sm:text-left">
						<h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
							{{ isEditMode ? 'Edit' : 'Create' }} Tag
						</h1>

						<p class="mt-1.5 text-sm text-gray-500">
							We upload media files for: categories, video thumbnails, video gifs, girl photo models
						</p>
						<p>

							<div class="mx-auto max-w-full">
								<div class="flex gap-8 pb-4 pt-4">
									<div class="relative">

										<div class="mx-auto max-w-1/2">
											{{ form_start(form) }}

											{{ form_label(form.name, 'Name', {'label_attr': {'class': ' mb-2'}}) }}
											{{ form_widget(form.name, {'attr': {'class': 'w-full rounded-lg border-gray-200 p-4 pe-12 text-sm border mb-4', 'placeholder': 'Name'}}) }}
											{{ form_errors(form.name) }}

											{{ form_label(form.slug, 'Slug', {'label_attr': {'class': ' mb-2'}}) }}
											{{ form_widget(form.slug, {'attr': {'class': 'w-full rounded-lg border-gray-200 p-4 pe-12 text-sm border mb-4', 'placeholder': 'Slug'}}) }}
											{{ form_errors(form.slug) }}

											{{ form_label(form.description, 'Description', {'label_attr': {'class': ' mb-2'}}) }}
											{{ form_widget(form.description, {'attr': {'class': 'w-full rounded-lg border-gray-200 p-4 pe-12 text-sm border mb-4', 'placeholder': 'Description'}}) }}
											{{ form_errors(form.description) }}

											<div class="flex items-center justify-between">
												<button type="submit" class="inline-block rounded-lg bg-indigo-500 px-5 py-3 text-sm font-medium text-white">
													{{ isEditMode ? 'Update' : 'Create' }}
												</button>
											</div>
											{{ form_end(form) }}
										</div>
									</div>
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</header>
	</main>
{% endblock %}
